<h1>Entrega clase numero 21</h1>
<h2>Autenticacion y autorizacion con Bcrypt, passport y Github.</h2>
<div id="login-form">


<button >
<a href="/login">
Iniciar sesion
</a></button>

<button >
<a href="/session/github">
Entrar con Github
</a></button>


<button >
<a href="/register">
Registrarse
</a></button>



</div>
